*.pyc
*.o
*.so
*.a
.gdb_history
*.i64
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.swp
*.dll
*.obj
*.lib
*.exp
*.pdb
*.ilk
angr/tests/*.png
screenlog.0
angr/tests/screenlog.0
angr/screenlog.0
.idea
*.egg-info
/build
/tags
MANIFEST
dist
.eggs
.vscode/

