capstone
networkx
rpyc
futures
progressbar
git+https://github.com/zardus/mulpyplexer#egg=mulpyplexer
git+https://github.com/zardus/cooldict#egg=cooldict
git+https://github.com/zardus/ana#egg=ana
git+https://github.com/angr/archinfo.git#egg=archinfo
git+https://github.com/angr/pyvex.git#egg=pyvex
git+https://github.com/angr/claripy.git#egg=claripy
git+https://github.com/angr/simuvex.git#egg=simuvex
git+https://github.com/angr/cle.git#egg=cle
