name: Nightly CI

on:
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  ci:
    uses: angr/ci-settings/.github/workflows/angr-ci.yml@master
    with:
      nightly: true
    secrets: inherit
